<%- include('../../partials/header.ejs')%>

<body>
  <div class="page">
    <%- include('../../partials/navbarAdmin.ejs')%>

    <div class="container">
      <div class="card">
        <div class="card-header">
          <h2>Bem vindo a criação de artigos</h2>
          <hr>
        </div>
        <div class="card-body">
          <form action="/admin/article/save" method="post" onsubmit="confirmAction(event)">
            <input class="title form-control" type="text" name="title"  minlength="3" maxlength="60" placeholder="Definir Titulo">
            <input class="summary form-control" type="text" name="summary" minlength="3" maxlength="140" placeholder="Faça um breve resumo sobre o artigo">
            <textarea class="form-control" name="body" id="article" cols="30" rows="25" placeholder="Escreva seu artigo"></textarea>
            <label>Categorias</label>
            <div class="buttons">
              <select class="select-category" name="category">
                <% categories.forEach((categories)=>{%>
                <option value="<%-categories.id %>"><%-categories.title %></option>
                <%})%>
              </select>
              <input class="btn btn-success" type="submit" value="Criar">

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs')%>

<!--Configurando TinyMce para nelhorar a textArea -->
<script src="/tinymce/tinymce.min.js"></script>

<script>
  tinymce.init({
    language: "pt_BR",
    selector: "#article",
    plugins: [
      'advlist',
      'autolink',
      'link',
      'image',
      'lists',
      'preview',
      'searchreplace',
      'wordcount',
      'fullscreen',
      'insertdatetime',
      'media',
      'save',
      'table',
      'emoticons',
    ]
  })
</script>