<%- include('../../partials/header.ejs')%>

<body>
  <%- include('../../partials/navbarHome.ejs')%>
  <div class="container">
    
    <h1>Bem vindo a categoria - </h1>
    <hr>
    <div class="newBtn">
      <a href="/article/new" class="btn btn-success" title="Criar novo Artigo">+</a>
    </div>
    <div class="cards">
      <% article.forEach((article)=>{ %>
      <div class="card">
        <div class="card-header">
          <h2><%-article.title %></h2>
        </div>
        <div class="card-body">
          <strong>Resumo: </strong><%-article.summary %>
        </div>
        <div class="card-footer">
          <a href="/article/<%-article.slug%>" class="btn btn-success"> Ler Artigo</a>
        </div>
      </div>
      <%})%>
    </div>
    <div class="next">
    
    </div>
  </div>

</body>
<%- include('../../partials/footer.ejs') %>