<%- include('../../partials/header.ejs')%>

<body>
  <div class="page">
    <%- include('../../partials/navbarAdmin.ejs')%>
    <div class="container">
      <h2 class="text-center">Categorias</h2>
      <a href="/admin/category/new" class="btn btn-success">Criar nova categoria</a>
      <hr>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <%categories.forEach(categories=>{%>
          <tr>
            <th><%-categories.id %></th>
            <th><%-categories.title %></th>
            <th><%-categories.slug %></th>
            <th>
                <a href="/admin/category/edit/<%-categories.id %>">
                  <img class="icons" src="/img/editdocument_105148.svg" alt="Editar" title="Editar">
                </a>
              <form method="POST" action="/admin/category/delete" style="display: inline;" onsubmit="confirmAction(event)">
                <input type="hidden" name="id" value="<%- categories.id %>">

                <button>
                  <img class="icons" src="/img/delete_remove_bin_icon-icons.com_72400.svg" alt="Deletar" title="Deletar">
                </button>
              </form>
            </th>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </div>
</body>
<%- include('../../partials/footer.ejs')%>